<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>file upload</title>
  <link rel="stylesheet" href="/css/style.css">
 </head>
 <body style="background-color: #FFF;">
   <nav id="back-btn-wrapper">
     <img id="back-btn" src="images/back-btn.svg" height="24" width="24" onclick="javascript:location.href='/';">
   </nav>
   <section id="content-wrapper">
     <header id="file-header">
       <h1 id="file-title"><%= fileTitle %></h1>
       <hr>
      </header>
     <p id="file-content"><%- content %></p>
   </section>
  </body>
</html>